h1,
.timer,
.top,
.board,
td,
table,
.btn {
    border-radius: 6px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    padding: 5px;
    text-align: center;
}

body {
    background-color: rgb(104, 104, 104);
}

.board {
    padding: 5px;
    width: 50px;
    height: 50px;
    background-color: rgb(200, 223, 179);
}

.top {
    background-color: #FDC808;
}

table {
    border: 5px;
    background-color: rgb(93, 139, 87);
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}

h1 {
    color: lightgoldenrodyellow;
    background-color: #4A4C4B;
    padding: 20px;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}

.level,
.btn {
    border-radius: 6px;
    background-color: indianred;
    margin: 10px;
    padding: 20px;
    font-size: 2rem;
    text-align: center;
    background-color: rgb(128, 168, 200);
}

.timer {
    font-size: 2rem;
    color: lightgoldenrodyellow;
    background-color: rgb(253, 54, 54);
    text-align: center;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}

.reset {
    background-color: #39619F;
    text-align: center;
    border-radius: 6px;
    display: block;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}
